{% extends 'user_base.html'%}
<!-- Link to your CSS file using url_for -->
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='all_user/pivot.css') }}">
{%endblock%}
{% block title %} Pivot Dashboard {%endblock%}
{% block body%}
<!-- Pivot Section -->
<h2>Pivot</h2>
<div class="container">
    <form action="/pivot_dashboard" method="post">
        
        <select name="ticker" id="ticker" onchange="chooseExpiry({{data['expiry']|safe}})">
            <option selected>--- Choose a Ticker ---</option>
            <option value="NIFTY">NIFTY</option>
            <option value="CNXBAN">BANK NIFTY</option>
        </select>
        
            <select name="expiry" id="expiryDates">
                <option value="0">Dates</option>
            </select>
        
        <button type="submit" name="option_trade">Get Value</button>
    </form>
</div>
<!-- Chart Section -->
<div id="myDiv"></div>
{%endblock%}
{% block js %}
<script src="https://cdn.plot.ly/plotly-latest.mi.js"></script>
<script src="{{url_for('static', filename = 'all_user/pivot.js')}}" type="text/javascript"></script>
{%endblock%}n