{% extends 'user_base.html'%}
<!-- Link to your CSS file using url_for -->
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='all_user/strategy.css') }}">
{%endblock%}
{% block title %} Strategy Page {%endblock%}
{% block body%}
{{user.id}}
<div class="container">
    <button id="sherStarButton">Share Geniuous Strangle</button>
    <button id="sanuMagic" title="In Demo Purpose" disabled>Sanu Magic</button>
</div>
<hr>
<div class="container" id="sherdiv">
    <table class="display-none" id="sherStrangleForm" style="display: none;">
        <thead>
            <tr>
                <td>Index</td>
                <td>Expiry Date</td>
                <td>Lot Size</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>

            <tr>
                <form action="/dashboard/strategy" method="post">

                    <td>
                        <select name="stock_name" id="stockName" onclick="expiryfetch({{data.expiry}})">

                            <option value="-- Select from list --" selected>-- Select from list --</option>
                            <option value="NIFTY">NIFTY</option>
                            <option value="CNXBAN">BANK NIFTY</option>
                        </select>

                    </td>

                    <td>
                        <select class="form-select" size="1" name="expiry" id="expiry">

                        </select>
                    </td>
                    <td>
                        <select name="lot" id="">
                            <option selected value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </td>
                    <td>
                        <button type="submit" name="trade">Trade</button>

                    </td>
            </tr>
            </form>
        </tbody>
    </table>
</div>
<!-- Order Section -->
<hr>
<!-- order detail section -->
<div class="cointainer">
    <table class="table">
        <thead>
            <th>Action</th>
            <th>Name</th>
            <th>STRATEGY</th>
            <th>Percentage</th>
            <th>Status</th>
        </thead>
        <tbody>
            {% for order in data.orders %}
            <tr>
                <form action="/dashboard/strategy" method="post">
                    <td><button type="submit" name="order_delete">Delete</button></td>
                    <td><input type="text" style="border: none;" name="symbol" value="{{order.symbol}}"></td>
                    <td><span><input type="text" style="border: none;" name="symbol" value="{{order.strategy}}"></span>
                    </td>
                    <td>
                        {% if data.positions %}
                        <!-- {{data.positions}} -->
                        {% for position in data.positions %}
                            {% if order.u_no == position.u_no %}
                            {{ position.stock_token}}
                            {% endif %}
                        {% endfor%}
                        {% endif %}
                    </td>
                    <!-- <td><input type="text" style="border: none;" name="symbol" value="{{order.percentage}}"></td> -->
                    <td><span><input name="order_id" value="{{order.u_no}}"></span></td>
                    <td><input type="text" style="border: none;" name="symbol" value="{{order.status}}"></td>

                </form>
            </tr>
            <!-- class="visually-hidden" -->
            {% endfor%}
        </tbody>
    </table>
</div>
<!-- Current Order -->
<!-- <div class="cointainer">
    <table>
        
    </table>
</div> -->

{%endblock%}
{% block js %}
<script src="{{url_for('static', filename = 'all_user/strategy.js')}}" type="text/javascript"></script>
{%endblock%}