<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <label for="user">User Name</label>
        <input type="text" name="user" id="">
        <label for="pwd">Password</label>
        <input type="text" name="pwd" id="">
        <button type="submit">Submit</button>
    </form>
    <table>
        <tbody>
            {% for user in data.user %}
                <tr>
                    <td>{{user.username}}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tr>

        </tr>
    </table>
    
</body>
</html>