<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Hello</h3>
    <form action="/" method="post">
        <input type="text" name="user" id="">
        <input type="text" name="pwd" id="">
        <button type="submit">Submit</button>
    </form>
    <h3>Mail pwd : {{data.db}}</h3>
    {% for d in data.user%}
    <h3>{{d.username}}</h3>
    {% endfor %}
</body>
</html>